<h2>Create</h2>


<form [formGroup]="FormData" (ngSubmit)="onClickSubmit(FormData.value)">  
    <div class="form-horizontal"></div>
        <h4>Userstory</h4>
        <hr />
      
        <div class="form-group">
            <label class="control-label col-md-2">story</label>
            <div class="col-md-10">
                <label class="control-label col-md-2">{{userstory.story}}</label>
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">ProjId</label>
            <div class="col-md-10">
                <label class="control-label col-md-2">{{userstory.ProjId}}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </form>