<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Application name</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a></li>
              
              <li><a href="/employees/showemployees">Employees</a></li>
              <li><a href="/project/showproject">Projects</a></li>
              <li><a href="/userstories/showuserstory">Userstory</a></li>
              <li><a href="/projtask/showprojtask">Task</a></li>
              <li><a href="/manager/showmanager">Manager</a></li>
          </ul>
      </div>
  </div>
</div>


